.container-body_white{
    width: 1170px;
    margin: auto;
    background-color: white;
    height: auto;
    padding: 20px;
}
.single-title{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid grey;
}
.single-book-inf{
    width: 100%;
    height: 409px;
    /* border-bottom: 1px solid grey; */
    padding-top: 30px;
}
.title-link li{
    float: left;
    margin-left: 15px;
    margin-top: 29px;
}
.imgx{
    width: 285px !important;
    height: 369px !important;
}
.single-book-img{
    width: 285px;
    height: 100%;
    float: left;
    /* background-color: hotpink; */
}
.single-book-detail{
    width: 50%;
    float: left;
    height: 100%;
    /* background-color: rgb(88, 101, 160); */
}
.single-book-detail h1{
    margin-top: 0px;
}
.payment-infor{
    width: 300px;
    float: left;
    height: 100%;
    /* background-color: rgb(88, 160, 116); */
}
.book-infor-right-body span{
    float: right;
}
.single-book-image{
    width: 242px;
    height: 370px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}
.single-book-detail-author p{
    margin: 0px;
}
.single-book-detail-author{
    margin-bottom: 30px;
}
.single-book-inf-content{
    padding-bottom: 30px;
    border-bottom: 1px dashed gray;
    margin-right: 45px;
}
.single-author{
    color: #087b39;;
}
.icon-check{
    color: white;
    background-color:  #087b39;
}
.book-infor-right{
    width: 250px;
    height: 301px;
    padding: 15px;
    border: 1px solid #dcdbdb;
    box-shadow: 0 0 0 5px #e8e8e8;
    border-radius: 5px;
}
.book-infor-right-title{
    line-height: 1.2;
    text-align: left;
    border-bottom: 1px dashed #c7c7c7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.book-infor-right-body{
    border-bottom: 1px dashed #c7c7c7;
}
.book-infor-right>button{
    border: 1px solid #e1af04;
    border-radius: 3px;
    /* padding-left: 65px; */
    height: 39px;
    font-weight: bold;
    width: 230px;
    /* margin: auto; */
    margin-left: 9px;
    margin-top: 14px;
    background-color: #e1af04;
}
#giabia{
    color: #353535;
    text-decoration: line-through;
    line-height: 1.538;
    font-size: 15px;
}
#giaban{
    font-size: 20px;
    color: #ca2027;
    line-height: 1.2;
    text-align: left;
}
#tietkiem{
    font-size: 15px;
    color: #353535;
    line-height: 1.538;
    color: #087b39;
}
#chatluong{
    font-size: 12px;
    line-height: 1.538;
    color: #087b39;
}
.inf-author{
    float: right;
    width: 260px;
    margin-left: 30px;
    margin-top: -35px;
    border: 1px solid #d1d3d4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: transparent;
    box-shadow: 0 5px 0 0 #d9d9d9;
    margin-right: 15px;
}
.single-book-content-title{
    height: 48px;
    /* padding: 20px; */
    padding-left: 20px;
    /* font-weight: bold; */
    color: #008340;
    font-size: 25px;
    border-bottom: 1px dashed #c7c7c7
}
.green{
    color:  #008340;
}
.thongtinctiet li{
    width: 500px;
    height: 30px;
    float: left;
}
.thongtinctiet span{
    margin-right: 227px;
    float: right;
}
.divttchitiet{
    width: 100%;
    height: 174px;
}
.single-book-infor h3{
    width: 70%;
    margin: 0%;
    margin-top: 20px;
}
.buttons_added span{
    margin-right: 20px;
    font-size: 20px;
    margin-top: 2px;
}
/* Book
----------------------------------------------------- */
.book-container {
    width: 242px;
    height: 360px;
    margin: 0 auto;
    display: block;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}
  
.book {
    box-shadow: 5px 10px 8px #888888;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 125px 0;
    -moz-transform-origin: 125px 0;
    transform-origin: 125px 0;
}
.book:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 10px;
    z-index: 20;
    border-right: 1px solid grey;
    -webkit-transform: translateZ(1px); /* Fix for flickering in Chrome  */
}
.book:hover {
    -webkit-transform: translateX(-10px) translateZ(35px) translateX(35px) rotateY(45deg);
    -moz-transform: translateX(-10px) translateZ(35px) translateX(35px) rotateY(45deg);
    transform: translateX(-10px) translateZ(35px) translateX(35px) rotateY(45deg);
}
  
/*
Book cover and spine
---------------------------------------------------------------------------------------------------------------------------------------------------- */
.book-cover { position: relative; z-index: 10; }
.book-cover img { vertical-align: bottom; max-width: 100%; height: auto; }
  
.book-spine {
    position: absolute;
    color: rgb(117, 113, 113);
    bottom: 0;
    top: 0;
    width: 50px;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    background-size: auto 100%;
    -webkit-transform: rotateY(-90deg) translateX(-49px);
    -moz-transform: rotateY(-90deg) translateX(-49px);
    transform: rotateY(-90deg) translateX(-49px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}
.book-spine h6 {
    display: block;
    width: 360px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -23px;
    left: 33px;
    text-transform: uppercase;
    font-family: "league_gothic_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px; opacity: 0.75; font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}
.book-spine:before { display: block; content: ""; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); }