.cotainer-footer-h{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #0a6f3c;
    color: #ffffff;
    margin-top: 0;
}
.cotainer-footer-b{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 20px;
}
.cotainer-footer-f{
    width: 100%;
    min-height: 100px;
    float: left;
}
.footer-content{
    width: 1171px;
    margin: auto;
    height: auto;
}
.lbsignup{
    float: left;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}
.spans span{
    float: left;
}
.spans {
    float: left;
    width: 318px;
    height: 30px;
}
.txtName{
    outline: none;
    margin: 10px 5px;
    padding: 8px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #fff;
    width: 180px;
    height: 27px;
    font-size: 13px;
}
.list-category{
    outline: none;
    width: 180px;
    height: 46px;
    border-radius: 5px;
    margin-left: 4px;
}
.btn-signup{
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
    height: 45px;
    width: 170px;
    background: #fff;
    color: #0a6f3c;
    border-radius: 5px;
    margin: 10px 0 0 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8px;
}
.p-highlight{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
}
.menu-category li{
    float: left;
    width: 291px;
    height: 30px;
    line-height: 20px;
    color: #6b6b6b;
}
.backgroud-white{
    background-color: white;
    width: 100%;
    height: 489px;
}
.container-footer-top{
    margin-bottom: 30px;
}
.footer-body-left{
    float: left;
    width: 165px;
    height: 198px;
    margin-right: 30px;
}
.wysiwyg-content img{
    width: 150px;
}
.container-footer{
    width: 100%;
    height: auto;
    float: left;
}